{
  "presets": [
    "es2015",
    "flow"],
  "plugins": [
    "syntax-flow",
    "transform-es2017-object-entries",
    "transform-object-rest-spread",
    "transform-es2015-destructuring",
    "transform-object-rest-spread",
    "array-includes"]
}
